section{
    padding: 15%;
    padding-left: 30%;
}
form{
    background-color: rgb(255, 0, 149);
    display: inline-block;
    border-radius: 10%;
    height: 300px;
    width: 400px;
    align-content: center;
    padding-left: 15%;
}
td:hover{
    color: rgb(251, 255, 0);
}